@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

::selection {
    background-color: #5fecc8;
    color: #5e62d1;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.astronaut-image {
    animation: astronaut 10s linear alternate infinite;
}

@keyframes astronaut {
    0% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(50px);
    }
}

.services-section-image.is-intersecting {
    width: 400px;
}

.active-services-image {
    animation: showServicesImage 400ms cubic-bezier(0.87, 0, 0.13, 1) forwards;
    animation-delay: 200ms;
}

@keyframes showServicesImage {
    from {
        opacity: 0;
        transform: scale(1);
    }

    to {
        opacity: 100;
        transform: scale(1.1);
    }
}


.clients-logo:hover > path {
    fill: #fe5115;
}